@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --main-background-color: hsl(30, 25%, 89%);
    --keypad-background-color: hsl(223, 31%, 20%);
    --screen-background-color: hsl(224, 36%, 15%);
    --key-background-color: hsl(225, 21%, 49%);
    --key-shadow-color: hsl(224, 28%, 35%);
    --key-toggle-shadow: hsl(6, 63%, 50%);
    --key-shadow: hsl(6, 70%, 34%);
    --key-background-base-color: hsl(30, 25%, 89%);
    --key-background-shadow-color: hsl(28, 16%, 65%);
    --text-dark-color: hsl(221, 14%, 31%);
    --text-white-color: hsl(0, 0%, 100%);
  }
}

.btn__key {
  @apply bg-custom-main w-14 h-14 text-center text-2xl flex justify-center items-center shadow-key-background-shadow rounded-lg cursor-pointer;
}
.btn__key-2 {
  @apply bg-custom-key w-14 h-14 text-center text-lg uppercase text-white flex justify-center items-center shadow-key-shadow-main rounded-lg cursor-pointer;
}
.btn__key-3 {
  @apply  w-auto h-14 text-center text-lg uppercase  flex justify-center items-center shadow-key-shadow-main rounded-lg cursor-pointer;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Spartan", "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: hsl(222, 26%, 31%);
  height: 100vh;
}
